<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/{{ project }}.css" />
    <title>
        {% block title %}
            Sophie Hariri - Projet {{ project }}
        {% endblock %}
    </title>
</head>

<body>
{% include 'header.html.twig' %}
<main id="tile-project">
    <div class="first-element">
        <div id="{{ project }}-div1">
            <img id="{{ project }}-img1" class="img-project"
                 src="/assets/img/{{ project }}/page-projet_{{ project }}_1x.jpg"
                 srcset="/assets/img/{{ project }}/page-projet_{{ project }}_2x.jpg">
        </div>
        <div class="right-column">
            <h1>{{ project }}</h1>
            <div class="separator"></div>
            <div class="p-project">
                Emotion est un projet de soutenance dont le but est de créer un site web grâce a une démarche UX et de
                fournir un document éditorial expliquant le processus. Ce projet a été réalisé en interclasse , 2 UI/UX designers,
                4 administrateurs et 4 développeurs.
                <br /><br />
                Ce site est conçu pour la société eMotion qui est un loueur de scooters et de voitures éléctriques basée à Paris et à Lyon.<br />
                L’entreprise réalise un CA de 40 M, emploie 50 personnes dans ses différents services, et s’appuie sur un
                réseau de revendeurs répartis sur l’ensemble du territoire français.
            </div>
        </div>
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Logo</h2>
            <div class="p-project">
                Le logotype est constitué d’un symbole
                et d’une typographie originale, qui véhiculent les valeurs d’une évolution, renaissance, d’un changement,
                qui vont être portés par l’association de deux termes : L’énergie et l’éphémérité.
                <br /><br />
                Le papillion représente l’éphémérité et les couleurs du logo, l’énergie.
            </div>
        </div>
        <img id="{{ project }}-img2" class="img-project"
             src="/assets/img/emotion/emotion_img_logo_1x.png"
             srcset="/assets/img/emotion/emotion_img_logo_2x.png 1024w">
    </div>
    <img id="{{ project }}-img-full" class="img-project"
         src="/assets/img/emotion/emotion_img_typographie_1x.jpg"
         srcset="/assets/img/emotion/emotion_img_typographie_2x.jpg 1024w">
    <div class="white-element">
        <div class="left-column">
            <h2>Couleurs</h2>
            <div class="p-project">
                Les couleurs vives représentent l’énergie, le dynamisme et le côté éléctrique  de la voiture.  Le noir a
                été ajouté afin de contraster l’ensemble et mieux faire ressortir les couleurs qui l’accompagnent.
            </div>
        </div>
        <img id="{{ project }}-img3" class="img-project couleurs"
             src="/assets/img/emotion/emotion_img_couleurs_1x.png"
             srcset="/assets/img/emotion/emotion_img_couleurs_2x.png 1024w">
    </div>
    <div id="black-element-column-ux" class="black-element">
        <div class="left-column">
            <h2>UX Design</h2>
            <div class="p-project">
                Nous avons réalisé une demarche UX afin de cibler au mieux la future clientèle et de répondre aux mieux à leurs besoins.
                <br /><br />
                À partir des analyses effectuées auprès d’un certain nombre de personnes nous avons réalisé 2 types de
                personas et les habitudes que peuvent avoir les futurs utilisateurs du site.
                <br /><br />
                Cette analyse comprend un questionnaire (sur les habitudes d’utilisations de location…), un speed boat,
                une roue des usages, des personas et une user journey.
                <br /><br />
                Cette démarche UX nous a permis de cibler au mieux la future clientèle, répondre aux mieux à leurs besoins et de définir une arborescence et
                des wireframes pour la réalisation du site.
            </div>
        </div>
        <img id="{{ project }}-img4" class="img-project"
             src="/assets/img/emotion/emotion_img_uxdesign_cibles_1x.png"
             srcset="/assets/img/emotion/emotion_img_uxdesign_cibles_2x.png 1024w">
    </div>
    <img id="{{ project }}-img5" class="img-project"
         src="/assets/img/emotion/emotion_img_uxdesign_avis-utilisateurs_1x.png"
         srcset="/assets/img/emotion/emotion_img_uxdesign_avis-utilisateurs_2x.png 1024w">
    <img id="{{ project }}-img6" class="img-project"
         src="/assets/img/emotion/emotion_img_uxdesign_persona_1x.jpg"
         srcset="/assets/img/emotion/emotion_img_uxdesign_persona_2x.jpg 1024w">
    <div class="white-element">
        <div class="left-column">
            <h2>Conclusion/Wireframe</h2>
            <div class="p-project">
                L’arborescence et les wireframes ont été réalisés suite à l’étude effectuée précedement.<br />
                Elle nous a permis de définir plusieurs parcours utilisateurs. Lorsque l’on possède un compte ou non,
                si on veut un achat rapide car on connait la voiture ou si on veut plus de détails.
            </div>
        </div>
        <img id="{{ project }}-img7" class="img-project" src="/assets/img/emotion/emotion_img_wireframe.jpg">
    </div>
    <div class="black-element">
        <div class="left-column">
            <h2>Site Web</h2>
            <div class="p-project">
                Le site web est composé de différentes tuiles.
                <br /><br/>
                Le site web véhicule les valeurs de la marque qui sont : l’énergie et l’éphémerité.
                <br /><br/>
                L’idée étant d’accompagner le locataire de la voiture dans toutes ses démarches et surtout de lui proposer
                des voitures qui lui correspondent grâce à une recherche personnalisée.
                <br /><br/>
                Vous pouvez voir le site en responsive et desk ci-dessous.
            </div>
        </div>
        <img id="{{ project }}-img8" class="img-project"
             src="/assets/img/emotion/emotion_img_site-web_mockup-mobile_1x.jpg"
             srcset="/assets/img/emotion/emotion_img_site-web_mockup-mobile_2x.jpg 1024w">
    </div>
    <img id="{{ project }}-img9" class="img-project"
         src="/assets/img/emotion/emotion_img_site-web_screen_desk_1x.jpg"
         srcset="/assets/img/emotion/emotion_img_site-web_screen_desk_2x.jpg 1024w">
    <img id="{{ project }}-img10" class="img-project"
         src="/assets/img/emotion/emotion_img_site-web_screen2_desk_1x.jpg"
         srcset="/assets/img/emotion/emotion_img_site-web_screen2_desk_2x.jpg 1024w">
</main>

{% include 'scripts.html.twig' %}
</body>
</html>
