<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/{{ project }}.css" />
    <title>
        {% block title %}
            Sophie Hariri - Projet {{ project }}
        {% endblock %}
    </title>
</head>

<body>
{% include 'header.html.twig' %}
<main id="tile-project">
    <div class="first-element">
        <div id="{{ project }}-div1">
            <img id="{{ project }}-img1" class="img-project" src="/assets/img/emotion/emotion.png">
        </div>
        <div class="right-column">
            <h1>{{ project }}</h1>
            <div class="separator"></div>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Logo</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img2" class="img-project"
             src="/assets/img/emotion/emotion_img_logo_1x.png"
             srcset="/assets/img/emotion/emotion_img_logo_2x.png">
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Couleurs</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img3" class="img-project couleurs"
             src="/assets/img/emotion/emotion_img_couleurs_2x.png"
             srcset="/assets/img/emotion/emotion_img_couleurs_2x.png">
    </div>
    <div id="black-element-column-ux" class="black-element">
        <div class="left-column">
            <h2>UX Design</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img4" class="img-project"
             src="/assets/img/emotion/emotion_img_uxdesign_cibles_1x.png"
             srcset="/assets/img/emotion/emotion_img_uxdesign_cibles_2x.png">
    </div>
    <img id="{{ project }}-img5" class="img-project"
         src="/assets/img/emotion/emotion_img_uxdesign_avis-utilisateurs_1x.png"
         srcset="/assets/img/emotion/emotion_img_uxdesign_avis-utilisateurs_2x.png">
    <img id="{{ project }}-img6" class="img-project"
         src="/assets/img/emotion/emotion_img_uxdesign_persona_1x.jpg"
         srcset="/assets/img/emotion/emotion_img_uxdesign_persona_2x.jpg">
    <div class="white-element">
        <div class="left-column">
            <h2>Conclusion/Wireframe</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img7" class="img-project" src="/assets/img/emotion/emotion_img_wireframe.jpg">
    </div>
    <div class="black-element">
        <div class="left-column">
            <h2>Site Web</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design. Sweden living in San Francisco,
                where I work as a Senior Designer at Ueno. With a background in advertising, my strength lies in
                website and app design.
            </div>
        </div>
        <img id="{{ project }}-img8" class="img-project"
             src="/assets/img/emotion/emotion_img_site-web_mockup-mobile_1x.jpg"
             srcset="/assets/img/emotion/emotion_img_site-web_mockup-mobile_2x.jpg">
    </div>
    <img id="{{ project }}-img9" class="img-project"
         src="/assets/img/emotion/emotion_img_site-web_screen_desk_1x.jpg"
         srcset="/assets/img/emotion/emotion_img_site-web_screen_desk_2x.jpg">
    <img id="{{ project }}-img10" class="img-project"
         src="/assets/img/emotion/emotion_img_site-web_screen2_desk_1x.jpg"
         srcset="/assets/img/emotion/emotion_img_site-web_screen2_desk_2x.jpg">
</main>

{% include 'scripts.html.twig' %}
</body>
</html>
