<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/{{ project }}.css" />
    <title>
        {% block title %}
            Sophie Hariri - Projet {{ project }}
        {% endblock %}
    </title>
</head>

<body>
{% include 'header.html.twig' %}
<main id="tile-project">
    <div class="first-element">
        <div id="{{ project }}-div1">
            <img id="{{ project }}-img1" class="img-project" src="/assets/img/{{ project }}/page-projet_{{ project }}_2x.jpg">
        </div>
        <div class="right-column">
            <h1>{{ project }}</h1>
            <div class="separator"></div>
            <div class="p-project">
                France Info est la première radio d’information de France. En août 2016 elle devient une offre globale
                grâce à l’unification entre Radio France et France Télévision. Le site franceinfo s'est classé 4ème site
                d'info généraliste en août 2017. La chaine réalise une audience de
                88 millions de visiteurs par mois sur le site (chiffre de janvier 2018).
                <br /><br />
                J’ai été l’UI designer de franceinfo coté Radio france durant 1 an et demie. J’ai pu réaliser des éléments
                graphiques dont la grille des programmes du site et les différents playeurs. En 2016, la partie direct radio
                du site que j’ai designée a été la plus vue du site pendant un certain temps.
            </div>
        </div>
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Logo</h2>
            <div class="p-project">
                Le logo de franceinfo a été modifié en août 2016 suite à l’unification de l’offre globale entre Radio
                France et France Télévision.
            </div>
        </div>
        <img id="{{ project }}-img2" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_logo_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_logo_2x.jpg">
    </div>
    <img id="{{ project }}-img-full" class="img-project"
         src="/assets/img/franceinfo/franceinfo_img_typographie_1x.jpg"
         srcset="/assets/img/franceinfo/franceinfo_img_typographie_2x.jpg 1024w">
    <div class="white-element">
        <div class="left-column">
            <h2>Couleurs</h2>
            <div class="p-project">
                Les couleurs et la typographie sont définies par France Télévision. Ils ont toutefois garder la palette
                de couleurs de l’ancienne chaîne de France Info qui était le jaune et le gris.
            </div>
        </div>
        <img id="{{ project }}-img3" class="img-project couleurs"
             src="/assets/img/franceinfo/franceinfo_img_couleurs_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_couleurs_2x.jpg">
    </div>
    <div class="black-element">
        <div class="left-column">
            <h2 id="grid-title">Grille des programmes</h2>
            <div class="p-project">
                Voici la grille des programmes que j’ai réalisée.
                <br />
                La mention du direct, l’accès au podcast et flux rss devaient être mis en avant avec les différents états possibles.
            </div>
        </div>
        <img id="{{ project }}-img4" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_grille-des-programmes_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_grille-des-programmes_2x.jpg">
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Player desktop</h2>
            <div class="p-project">
                J’ai eu pour mission de refaire le player de franceinfo.
                <br />
                La difficulté dans ce projet a été de faire comprendre aux utilisateurs les différents états possibles
                du player (direct, différé, AOD…)
            </div>
        </div>
        <img id="{{ project }}-img5" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_player-version-desktop_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_player-version-desktop_2x.jpg">
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Player mobile</h2>
            <div class="p-project">
                La version mobile a été plus complexe à réaliser car il a fallu rassembler toutes les informations
                nécessaires dans le player, et le rendre le plus fluide et évident possible.
            </div>
        </div>
        <img id="{{ project }}-img6" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_player-version-mobile_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_player-version-mobile_2x.jpg">
    </div>

    <div class="blue-element">
        <h2>Player exportable, desktop et mobile</h2>
        <div class="p-project">
            Un player exportable a également été necessaire, la contrainte étant d’avoir la même hauteur pour le mobile et le desktop.
        </div>
        <img id="{{ project }}-img7" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_player-exportable-desk_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_player-exportable-desk_2x.jpg">
        <img id="{{ project }}-img8" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_player-exportable-mobile_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_player-exportable-mobile_2x.jpg">
    </div>
</main>

{% include 'scripts.html.twig' %}
</body>
</html>
