<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/{{ project }}.css" />
    <title>
        {% block title %}
            Sophie Hariri - Projet {{ project }}
        {% endblock %}
    </title>
</head>

<body>
{% include 'header.html.twig' %}
<main id="tile-project">
    <div class="first-element">
        <div id="{{ project }}-div1">
            <img id="{{ project }}-img1" class="img-project" src="/assets/img/{{ project }}/page-projet_{{ project }}_2x.jpg">
        </div>
        <div class="right-column">
            <h1>{{ project }}</h1>
            <div class="separator"></div>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Logo</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img2" class="img-project"
             src="/assets/img/francebleu/francebleu_img_logo_1x.jpg"
             srcset="/assets/img/francebleu/francebleu_img_logo_2x.jpg">
    </div>
    <img id="{{ project }}-img-full" class="img-project"
         src="/assets/img/francebleu/francebleu_img_typographie_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_img_typographie_2x.jpg 1024w">
    <div class="white-element">
        <div class="left-column">
            <h2>Couleurs</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img3" class="img-project couleurs"
             src="/assets/img/francebleu/francebleu_img_couleurs_1x.jpg"
             srcset="/assets/img/francebleu/francebleu_img_couleurs_2x.jpg">
    </div>
    <div class="blue-element">
        <div class="left-column">
            <h2>Mobile First</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img4" class="img-project couleurs"
             src="/assets/img/francebleu/francebleu_img_mockup-mobilefirst_1x.jpg"
             srcset="/assets/img/francebleu/francebleu_img_mockup-mobilefirst_2x.jpg">
    </div>
    <img id="{{ project }}-img5" class="img-project"
         src="/assets/img/francebleu/francebleu_img_mobile-first_responsive1_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_img_mobile-first_responsive1_2x.jpg">
    <img id="{{ project }}-img6" class="img-project"
         src="/assets/img/francebleu/francebleu_img_mobile-first_responsive2_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_img_mobile-first_responsive2_2x.jpg">
    <div class="white-element">
        <div class="left-column">
            <h2>Site Web</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img7" class="img-project"
             src="/assets/img/francebleu/francebleu_web_maquette_1x.jpg"
             srcset="/assets/img/francebleu/francebleu_web_maquette_2x.jpg">
    </div>
    <img id="{{ project }}-img8" class="img-project"
         src="/assets/img/francebleu/francebleu_web_maquette2_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_web_maquette2_2x.jpg">
    <img id="{{ project }}-img9" class="img-project"
         src="/assets/img/francebleu/francebleu_web_maquette3_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_web_maquette3_2x.jpg">
    <div class="white-element">
        <div class="left-column">
            <h2>Cartes de France</h2>
            <div class="p-project">
                Pour les éléctions de 2017 il m’a été demandé de réaliser un widget. J’ai dû dessiner une carte de France
                avec les 577 circonscriptions et les 348 sièges du sénat. Par la suite j’ai dessiné toutes les cartes de
                France du site, la carte de France des départements, des régions et des locales.
            </div>
        </div>
        <img id="{{ project }}-img10" class="img-project"
             src="/assets/img/francebleu/francebleu_img_widgetelection_1x.jpg"
             srcset="/assets/img/francebleu/francebleu_img_widgetelection_2x.jpg">
    </div>
    <img id="{{ project }}-img11" class="img-project"
         src="/assets/img/francebleu/francebleu_img_cartedpt_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_img_cartedpt_2x.jpg">
    <img id="{{ project }}-img12" class="img-project"
         src="/assets/img/francebleu/francebleu_img_carteregion_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_img_carteregion_2x.jpg">
</main>

{% include 'scripts.html.twig' %}
</body>
</html>
