<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/{{ project }}.css" />
    <title>
        {% block title %}
            Sophie Hariri - Projet {{ project }}
        {% endblock %}
    </title>
</head>

<body>
{% include 'header.html.twig' %}
<main id="tile-project">
    <div class="first-element">
        <div id="{{ project }}-div1">
            <img id="{{ project }}-img1" class="img-project" src="/assets/img/{{ project }}/page-projet_{{ project }}_2x.jpg">
        </div>
        <div class="right-column">
            <h1>{{ project }}</h1>
            <div class="separator"></div>
            <div class="p-project">
                France Bleu est la radio de proximité des gens grâce aux réseaux des 44 locales sur toute la France métropolitaine et la Corse.
                Tous les mois elle regroupe environ 13 millions de visiteurs sur le site (chiffre de janvier 2018).
                <br /><br />
                J’ai eu pour mission de m’occuper de la refonte graphique du site, tout en gardant l’identité graphique et l’aspect de proximité que véhicule la chaîne.

            </div>
        </div>
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Logo</h2>
            <div class="p-project">
                Le logo de France Bleu à été refait en août 2015. Il est identique à celui de ses confrères, seul la
                couleur et le nom de la chaîne changent.
            </div>
        </div>
        <img id="{{ project }}-img2" class="img-project"
             src="/assets/img/francebleu/francebleu_img_logo_1x.jpg"
             srcset="/assets/img/francebleu/francebleu_img_logo_2x.jpg">
    </div>
    <img id="{{ project }}-img-full" class="img-project"
         src="/assets/img/francebleu/francebleu_img_typographie_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_img_typographie_2x.jpg 1024w">
    <div class="white-element">
        <div class="left-column">
            <h2>Couleurs</h2>
            <div class="p-project">
                Suite à la refonte graphique, j’ai décidé de changer légèrement les couleurs en leur donnant un peu
                plus de profondeurs et de contrastes. L’utilisation du bleu et du rose est évidement primordial afin de garder l’identité du site.
            </div>
        </div>
        <img id="{{ project }}-img3" class="img-project couleurs"
             src="/assets/img/francebleu/francebleu_img_couleurs_1x.jpg"
             srcset="/assets/img/francebleu/francebleu_img_couleurs_2x.jpg">
    </div>
    <div class="blue-element">
        <div class="left-column">
            <h2>Mobile First</h2>
            <div class="p-project">
                Le site a été pensé en mobile first. En effet 65% des utilisateurs regardent le site via leurs mobiles.
                <br /><br />
                En mobile comme en desktop, une des consignes les plus importantes a été de mettre en avant l’information,
                qu’elle soit visible le plus rapidement possible. Ainsi sur desk on a une mise en avant au dessus de la ligne
                de flottaison et en mobile plusieurs informations sont visibles sur l’écran sans scroller.
                <br /><br />
                Une des complexités lors de la refonte a été de bien différencier les pages régionales, départementales,
                locales et bien gérer la navigation du site sans perdre l’auditeur.
                En effet nous avons différents types d’auditeurs, celui qui est attaché à la chaine, celui qui vient chercher
                une info spécifique et celui qui est intéréssé par l’actualité chaude. Le but étant de répondre aux besoins de tous.
            </div>
        </div>
        <img id="{{ project }}-img4" class="img-project couleurs"
             src="/assets/img/francebleu/francebleu_img_mockup-mobilefirst_1x.jpg"
             srcset="/assets/img/francebleu/francebleu_img_mockup-mobilefirst_2x.jpg">
    </div>
    <img id="{{ project }}-img5" class="img-project"
         src="/assets/img/francebleu/francebleu_img_mobile-first_responsive1_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_img_mobile-first_responsive1_2x.jpg">
    <img id="{{ project }}-img6" class="img-project"
         src="/assets/img/francebleu/francebleu_img_mobile-first_responsive2_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_img_mobile-first_responsive2_2x.jpg">
    <div class="white-element">
        <div class="left-column">
            <h2>Site Web</h2>
            <div class="p-project">
                Pour la refonte graphique j’ai decidé d’organiser le site avec différentes cards. L’idée étant que chaque
                card correspond à un format et par conséquent à un type de contenu (article, émission, diffusion…).<br />
                Ainsi l’internaute peut visuellement trouver ce qu’il veut rapidement. L’idée est également d’identifier
                facilement le contenu grâce à la forme de celle-ci. De plus les cards permettent de structurer et de hiérarchiser l’information.
                <br /><br />
                Vous pouvez voir ici, la maquette d’une page région, en dessous le header deployé et enfin une page article.
            </div>
        </div>
        <img id="{{ project }}-img7" class="img-project"
             src="/assets/img/francebleu/francebleu_web_maquette_1x.jpg"
             srcset="/assets/img/francebleu/francebleu_web_maquette_2x.jpg">
    </div>
    <img id="{{ project }}-img8" class="img-project"
         src="/assets/img/francebleu/francebleu_web_maquette2_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_web_maquette2_2x.jpg">
    <img id="{{ project }}-img9" class="img-project"
         src="/assets/img/francebleu/francebleu_web_maquette3_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_web_maquette3_2x.jpg">
    <div class="white-element">
        <div class="left-column">
            <h2>Cartes de France</h2>
            <div class="p-project">
                Vous pouvez voir ici un widget que j’ai réalisé pour les éléctions de 2017.<br />
                J’ai dessiné une carte de France avec les 577 circonscriptions et les 348 sièges du sénat.<br />
                Par la suite j’ai dessiné toutes les cartes de France du site, la carte de France des départements, des régions et des locales.
            </div>
        </div>
        <img id="{{ project }}-img10" class="img-project"
             src="/assets/img/francebleu/francebleu_img_widgetelection_1x.jpg"
             srcset="/assets/img/francebleu/francebleu_img_widgetelection_2x.jpg">
    </div>
    <img id="{{ project }}-img11" class="img-project"
         src="/assets/img/francebleu/francebleu_img_cartedpt_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_img_cartedpt_2x.jpg">
    <img id="{{ project }}-img12" class="img-project"
         src="/assets/img/francebleu/francebleu_img_carteregion_1x.jpg"
         srcset="/assets/img/francebleu/francebleu_img_carteregion_2x.jpg">
</main>

{% include 'scripts.html.twig' %}
</body>
</html>
