<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html.twig' %}
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/{{ project }}.css" />
    <title>
        {% block title %}
            Sophie Hariri - Projet {{ project }}
        {% endblock %}
    </title>
</head>

<body>
{% include 'header.html.twig' %}
<main id="tile-project">
    <div class="first-element">
        <div id="{{ project }}-div1">
            <img id="{{ project }}-img1" class="img-project" src="/assets/img/franceinfo/franceinfo-mockup.png">
        </div>
        <div class="right-column">
            <h1>{{ project }}</h1>
            <div class="separator"></div>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Logo</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img2" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_logo_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_logo_2x.jpg">
    </div>
    <img id="{{ project }}-img-full" class="img-project"
         src="/assets/img/franceinfo/franceinfo_img_typographie_1x.jpg"
         srcset="/assets/img/franceinfo/franceinfo_img_typographie_2x.jpg 1024w">
    <div class="white-element">
        <div class="left-column">
            <h2>Couleurs</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img3" class="img-project couleurs"
             src="/assets/img/franceinfo/franceinfo_img_couleurs_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_couleurs_2x.jpg">
    </div>
    <div class="black-element">
        <div class="left-column">
            <h2 id="grid-title">Grille des programmes</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img4" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_grille-des-programmes_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_grille-des-programmes_2x.jpg">
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Player desktop</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img5" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_player-version-desktop_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_player-version-desktop_2x.jpg">
    </div>
    <div class="white-element">
        <div class="left-column">
            <h2>Player mobile</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
        </div>
        <img id="{{ project }}-img6" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_player-version-mobile_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_player-version-mobile_2x.jpg">
    </div>

    <div class="blue-element">
        <h2>Player exportable, desktop et mobile</h2>
        <div class="p-project">
            Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
            in advertising, my strength lies in website and app design.
        </div>
        <img id="{{ project }}-img7" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_player-exportable-desk_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_player-exportable-desk_2x.jpg">
        <img id="{{ project }}-img8" class="img-project"
             src="/assets/img/franceinfo/franceinfo_img_player-exportable-mobile_1x.jpg"
             srcset="/assets/img/franceinfo/franceinfo_img_player-exportable-mobile_2x.jpg">
    </div>
</main>

{% include 'scripts.html.twig' %}
</body>
</html>
