<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html.twig' %}
        <title>
            {% block title %}
                Sophie Hariri - Projet {{ project }}
            {% endblock %}
        </title>
    </head>

    <body>
        {% include 'header.html.twig' %}
        <main id="tile-project">
            <img id="{{ project }}-img1" class="img-project" src="http://fakeimg.pl/425x319/">
            <h1>{{ project }}</h1>
            <div class="separator"></div>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
            <h2>Titre 2</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
            <img id="{{ project }}-img2" class="img-project" src="http://fakeimg.pl/320x210/4d4343">
            <img id="{{ project }}-img3" class="img-project typographie" src="http://fakeimg.pl/320x210/">
            <h2>Titre 3</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
            <img id="{{ project }}-img4" class="img-project couleurs" src="http://fakeimg.pl/320x210/4d4343">
            <h2>Titre 4</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
            <img id="{{ project }}-img5" class="img-project" src="http://fakeimg.pl/320x210/">
            <img id="{{ project }}-img6" class="img-project" src="http://fakeimg.pl/320x210/4d4343">
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
            <img id="{{ project }}-img7" class="img-project" src="http://fakeimg.pl/320x210/">
            <img id="{{ project }}-img8" class="img-project" src="http://fakeimg.pl/320x210/4d4343">
            <h2>Titre 5</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
            <img id="{{ project }}-img9" class="img-project" src="http://fakeimg.pl/320x210/">
            <h2>Titre 6</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
            <img id="{{ project }}-img10" class="img-project" src="http://fakeimg.pl/320x210/4d4343">
            <img id="{{ project }}-img11" class="img-project" src="http://fakeimg.pl/320x210/">
            <img id="{{ project }}-img12" class="img-project" src="http://fakeimg.pl/320x210/4d4343">
            <h2>Titre 7</h2>
            <div class="p-project">
                Sweden living in San Francisco, where I work as a Senior Designer at Ueno. With a background
                in advertising, my strength lies in website and app design.
            </div>
            <img id="{{ project }}-img10" class="img-project" src="http://fakeimg.pl/320x210/4d4343">
            <img id="{{ project }}-img11" class="img-project" src="http://fakeimg.pl/320x210/">
            <img id="{{ project }}-img12" class="img-project" src="http://fakeimg.pl/320x210/4d4343">
        </main>

        {% include 'scripts.html.twig' %}
    </body>
</html>
