<div id="{{ slug }}" class="tile-project">
    <a href="/projet/{{ slug }}">
        <div class="img-block img-{{ slug }}">
            <img class="img-project" src="../assets/img/home/homepage_{{ slug }}_2x.jpg">
        </div>
    </a>
    <div class="txt-block">
        <a href="/projet/{{ slug }}">
            <h2>{{ title }}</h2>
        </a>
        <div class="separator"></div>
        <a href="/projet/{{ slug }}">
            <div class="text-project">
                {{ description }}
            </div>
        </a>
        <div class="row data">
            <div class="column role">
                <p class="column-title">Role</p>
                <p class="variable-data">{{ role }}</p>
            </div>
            <div class="column agency">
                <p class="column-title">Agence</p>
                <p class="variable-data">{{ agency }}</p>
            </div>
            <div class="column year">
                <p class="column-title">Année</p>
                <p class="variable-data">{{ year }}</p>
            </div>
        </div>

        <a href="/projet/{{ slug }}" class="link-project">
            Voir le projet
        </a>
    </div>
    <div class="empty"></div>
</div>